
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
    width: 100%;
    height: 8%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    overflow: hidden;
    
}

.navigate {
    width: 960px;
    margin: 0 auto;
    background-color: rgb(67, 73, 128);
    overflow: hidden;    
}

.navigate a {
    margin: 3% 0 0;
    width: 10%;
    float: right;
    display: block;
    color: white;
    padding: 15px 15px;
    text-align: center;
}

.navigate a:hover {
    background-color: #4aaaaf;
    color: white;
}

h1 {
    margin: 3% 0 0;
    height: 5%;
    padding: 10px 15px;
    background-color: rgb(51, 106, 116);
    color: white;
    width: 20%;
    float: left;  
    font-size: 20px;
    text-align: center;
}

h2 {
    text-align: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

p {
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

.wrapper {
    width: 960px;
    padding: 20px;
    margin: 130px auto;
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(168, 168, 168);
    overflow: auto;
}

@media only screen and (max-width: 980px) {
    .main-section{
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .main-section{
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .picSizeUp {
        width: 540px;
        height: 400px;
    }
}    